<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  
  <h1>
    {{ title }}!
  </h1>

  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
              Featured
            </div>
            <div class="card-body">
                <input type="file" name="tulaa" (change)="onFileSelected($event)" />

                <button type="button" class="btn btn-primary" (click)="onUpload()">upload</button> 
            </div>
          </div>
    </div>
    <div class="col-md-4">
        
      </div>
    </div>
  
</div>


<router-outlet></router-outlet>
